@import url("../css/global.css");

/* FOOTER  */

.footer {
  background-color: var(--footer-color);
}

.footer__networks {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 28px;
}

.footer__network:not(:last-child) {
  margin-right: 30px;
}

.footer__network-svg {
  width: 24px;
  height: 24px;
}

.text-bottom-footer {
  display: flex;
  justify-content: center;
  font-size: 13px;
  font-weight: var(--regular);
  line-height: normal;
  color: var(--black);
}

.icon-footer-bottm {
  color: #3F2AFF;
}
